<h1>New movie</h1>

<% remote_form_for(@movie) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit "Add Movie" %>
  </p>
<% end %>

