<h1>Widget <%= @widget.name %></h1>

<p>
  <b>Weight:</b>
  <%= @widget.weight %>
</p>

<p>
  <b>Color:</b>
  <%= @widget.color %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
