<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date_of_birth %><br />
    <%# codecite olddate %>
    <%# I wonder how old the oldest board-gaming Internet user is? %>
    <%= f.date_select :date_of_birth, :start_year => Time.now.year - 100 %>
    <%# codecite olddate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>