<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :min_players %><br />
    <%= f.text_field :min_players %>
  </p>
  <p>
    <%= f.label :max_players %><br />
    <%= f.text_field :max_players %>
  </p>
  <p>
    <%= f.label :average_hours %><br />
    <%= f.text_field :average_hours %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>