<p>
  <b>Stars:</b>
  <%=h @review.stars %>
</p>

<p>
  <b>Comments:</b>
  <%=h @review.comments %>
</p>

<p>
  <b>User:</b>
  <%=h @review.user %>
</p>

<p>
  <b>Game:</b>
  <%=h @review.game %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>